---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHub from '../components/icons/GitHub.astro';
import Mail from '../components/icons/Mail.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';


---

<Layout title="Welcome to Astro.">
	<main class=" top-0 z-[-2] h-auto w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
		<Header />
		<section class=" h-auto w-full flex justify-center items-center flex-col 
		mt-5">
			<figure class="bg-red-300 h-60 w-60 flex justify-center items-center 
			overflow-hidden rounded-full bg-transparent border border-slate-100 ">
				<img src="assets/sergio.png" alt="Foto Sergio" class="max-w-full object-cover">
			</figure>
			<div class=" mt-2 w-full h-auto flex justify-center items-center
			flex-col ">
			<h1 class="text-4xl font-semibold  flex gap-x-3 items-center text-black/80 dark:text-white/85 mt-1">Sergio García</h1>			
			<h2 class="text-3xl font-semibold  flex gap-x-3 items-center text-black/80 dark:text-white/85 mt-1">Desarrollador Web</h2>
				<div class="w-full h-auto flex justify-center items-center max-w-[80%] flex-wrap gap-3 mt-4">
					<SocialPill href="mailto:sergiogargor9@gmail.com">
						<Mail class="size-4 md:size-6" />
						 sergiogargor9@gmail.com
					  </SocialPill>
					<SocialPill href="https://www.linkedin.com/in/sergiogarciagordo/">
						<LinkedIn class="size-4 md:size-6" />
						 LinkedIn
					  </SocialPill>
					  <SocialPill href="https://github.com/Sergiioog">
						<GitHub class="size-4 md:size-6" />
						 GitHub
					  </SocialPill>
					 
				  </div> 
			</div>
		</section>
		<SectionContainer id="experiencia">
			<h2
			  class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
			>
			  <Briefcase class="size-7" />
			  About me
			</h2>
		  </SectionContainer>
	</main>
</Layout>
<style>
	

</style>
